@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* 
    font family used -
    font-family: "Raleway", sans-serif;
    font-family: "Nunito Sans", sans-serif;

*/


body {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    font-weight: normal;
    font-style: normal;
    color: #000;
    font-size: 18px;
    line-height: 1.5;
    background-color: #fff;
}

b,
strong {
    font-weight: 700;
}

p {
    margin: 0 0 22px 0;
}

p:last-child {
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 25px 0;
    padding: 0;
    color: #000;
    font-weight: 700;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
    margin-bottom: 0;
}

h1 {
    font-weight: 700;
    font-size: 90px;
    line-height: 1;
}

h2 {
    font-weight: 700;
    font-size: 70px;
    line-height: 1;
}

h3 {
    font-weight: 700;
    font-size: 50px;
    line-height: 1;
}

h4 {
    font-size: 24px;
    line-height: 1.2;

}

h5 {
    font-size: 20px;
    line-height: 1.2;

}

a {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    outline: none !important;
    color: #ecb61e;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}

a:hover {
    color: red;
}

img {
    max-width: 100%;
}

input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"],
select {
    background-color: transparent;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    color: #000;
    border: 1px solid rgba(255, 255, 255, 0.7);
    height: 58px;
    padding: 0 16px;
    outline: none !important;
}

textarea {
    background-color: transparent;
    -webkit-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    border: 1px solid rgba(255, 255, 255, 0.7);
    padding: 12px 16px;
    width: 100%;
    color: #000;
    height: 158px;
    outline: none !important;
}

select {
    border: 1px solid rgba(255, 255, 255, 0.7);
    width: 100%;
    padding: 0 11px;
    background: url(images/sort-down.svg) no-repeat calc(100% - 16px) center transparent;
    background-size: 18px;
    padding-right: 40px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}

input[type="submit"] {
    background: #eab71e;
    color: #000000;
    height: 58px;
    border: none;
    -webkit-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    padding-left: 30px;
    padding-right: 30px;

    cursor: pointer;
    font-size: 24px;
    font-weight: 700;
    outline: none !important;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background: #000;
    color: #eab71e;
}

::-webkit-input-placeholder {
    opacity: 0.7;
    color: #000;
}

:-ms-input-placeholder {
    opacity: 0.7;
    color: #000;
}

::-moz-placeholder {
    opacity: 0.7;
    color: #000;
}

:-moz-placeholder {
    opacity: 0.7;
    color: #000;
}


.dashboard_row {
    display: flex;
    flex-wrap: wrap;
}

.sidebar {
    padding: 60px 0;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    z-index: 9;
    background: #FDFDFD;
    box-shadow: 0px 16px 44px rgba(0, 0, 0, 0.07);
    width: 340px;
    flex-basis: 340px;
}

.rightMain {
    padding: 60px 34px;
    width: calc(100% - 340px);
    flex-basis: calc(100% - 340px);
    margin-left: 340px;
    background-color: #F5F6FA;
    min-height: 100vh;
}

.dahboardLogo {
    padding: 0 32px 68px;
}

.dahboardLogo a {
    width: 197px;
}

.dashboardMenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.dashboardMenu ul li {
    margin-bottom: 30px;
}

.dashboardMenu ul li:last-child {
    margin-bottom: 0;
}

.dashboardMenu ul li a {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    padding: 0 20px 0 32px;
    position: relative;
    color: #000000;
    text-transform: capitalize;
}

.dashboardMenu ul li a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #F0F1F5;
    border-radius: 100%;
    margin-right: 15px;
}
.dashboardMenu ul li a i svg path{
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.dashboardMenu ul li a.active,
.dashboardMenu ul li a:hover {
    color: #E42C73;
}

.dashboardMenu ul li a.active i,
.dashboardMenu ul li a:hover i {
    background-color: #E42C73;
}

.dashboardMenu ul li a.active i svg path,
.dashboardMenu ul li a:hover i svg path {
    fill: #ffffff;
}

.dashboardMenu ul li a.active::before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 24px;
    background: url(assets/images/menu-active-icon.svg) no-repeat center center;
    background-size: contain;
}

.sidebarBot{
    padding: 150px 20px 0;
    text-align: center;
}
.sidebarBot p{
    font-size: 16px;
    margin-bottom: 10px;
}
.sidebarBot .devCompanyLogo{
    width: 154px;
}
.sidebarBot .devCompanyLogo img{
    width: 100%;
}
.headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerLogo {
    font-family: "Nunito Sans", sans-serif;
    font-size: 32px;
    font-weight: bold;
}

.headerRight {
    padding-left: 15px;
    display: flex;
    align-items: center;
}

.notificationDropdown_Wrap {
    margin-right: 10px;
}

.notificationDowndownBtn {
    border: 0;
    padding: 0;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 41px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.notificationDowndownBtn .notificationActive {
    display: inline-block;
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #E42C73;
    right: 17px;
    top: 15px;
}

.profileDowndownBtn {
    display: flex;
    align-items: center;
}

.profileDowndownBtn {
    border: 0;
    padding: 0;
    background: transparent;
}

.profileDowndownBtn .userImg {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
}

.profileDowndownBtn .userName {
    text-align: left;
    padding: 0 28px 0 20px;
}

.profileDowndownBtn .userName p {
    font-size: 14px;
    font-weight: bold;
    color: #404040;
    margin-bottom: 0;
}

.profileDowndownBtn .userName span {
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    color: #565656;
}

.cmnDashboardTitle {
    padding-top: 30px;
    margin-bottom: 40px;
}

.cmnDashboardTitle h1 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 8px;
}

.cmnDashboardTitle p {
    font-size: 16px;
    font-weight: 500;
    color: #8A99A5;
}

.analyticsCard_row {
    margin: 0 -15px -30px;
}

.analyticsCard_col {
    padding: 0 15px;
    margin-bottom: 30px;
}

.analyticsCard {
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 30px;

}

.analyticsCard .analyticsRightBg {
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
}

.analyticsCard .analyticsLeftBg {
    position: absolute;
    left: 0;
    bottom: 0;
    pointer-events: none;
}


.analyticsCard:hover {
    background: #000000;

}

.analyticsCard_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.analyticsCard_top .analyticsLink {
    margin-left: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background: #F5F6FA;
}

.analyticsCard:hover .analyticsLink {
    background: #ffffff;
}

.analyticsCard_top h5 {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-size: 22px;
    font-weight: 500;
    color: #000000;
}

.analyticsCard:hover h5 {
    color: #ffffff;
}

.analyticsNumer {
    font-size: 89px;
    font-weight: 500;
    line-height: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin: 0;
}

.analyticsCard:hover .analyticsNumer {
    color: #ffffff;
}

.analyticsNumer_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


.analyticsNumer_wrap .cmnBtnSm {
    margin-left: 10px;
    margin-top: 25px;
}

.cmnBtnSm {
    background-color: #E42C73;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 7px 27px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #E42C73;
}

.cmnBtnSm:hover {
    color: #E42C73;
    background: transparent;
}

.bottomCards_wrap {
    padding-top: 35px;
}

.cmnCard {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 30px;
    position: relative;
}
.apiBg{
    position: absolute;
    right: 0;
    bottom: 0;
    pointer-events: none;
}
.contactBg{
    position: absolute;
    right: 12%;
    bottom: 0;
    pointer-events: none;
}
.faqBg{
    position: absolute;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

.cmnCard:last-child {
    margin-bottom: 0;
}

.cmnCardTop {
    display: flex;
}

.cmnCardTop_left {
    width: calc(100% - 80px);
    flex-basis: calc(100% - 80px);
    padding-right: 20px;
}

.cmnCardTop_right {
    width: 80px;
    flex-basis: 80px;
}

.cmnCardTop_left h2 {
    font-weight: 700;
    font-size: 28px;
    color: #000000;
    margin-bottom: 15px;
}

.cmnCardTop_left p {
    font-weight: 500;
    font-size: 16px;
    color: #8A99A5;
}

.cmnCardBot {
    padding-top: 35px;
}

.accordion-button {
    padding: 20px 30px 12px;
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    line-height: 1.2;
}

.accordion-button:focus {
    box-shadow: none;
    background-color: transparent;

}

.accordion-button:not(.collapsed) {
    background: #F7F8FC;
    color: #000000;
    box-shadow: none;
}

.accordion-collapse:not(.collapsed) {
    background: #F7F8FC;
}

.accordion-item {
    border: 0;
    border-radius: 10px;
    overflow: hidden;
}

.accordion-body {
    padding: 0 30px 20px;
}

.faqViewAll{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.apiStatus {
    display: flex;
    align-items: center;
}

.apiStatus i {
    width: 38px;
    height: 38px;
    min-width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.apiStatus p {
    font-size: 22px;
    font-weight: 400;
    color: #000000;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(assets/images/accordion-minus.svg);
    background-size: 11px;
    height: 2px;
    width: 11px;
}

.accordion-button::after {
    background-image: url(assets/images/accordion-plus.svg);
    background-size: 11px;
    height: 11px;
    width: 11px;
}

.cmnBanner {
    background-color: #000000;
    padding: 40px 30px;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
}

.cmnBanner .bannerBg {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 395px;
    pointer-events: none;
}

.cmnBanner .bannerBg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cmnBanner .cmnBanner_subHeading {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 10px;
    position: relative;
    padding-left: 14px;
}

.cmnBanner .cmnBanner_subHeading::before {
    position: absolute;
    content: "";
    width: 3px;
    height: 3px;
    background: #ffffff;
    border-radius: 100%;
    left: 0;
    top: 7px;
}

.cmnBanner h2 {
    font-size: 37px;
    font-weight: 900;
    color: #FFFFFF;
    margin-bottom: 12px;
    line-height: 1.2;
}

.cmnBanner p {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 0;
}

/* custom checkbox */
.form_input_check label {
    position: relative;
    margin: 0;
    padding-left: 18px;
    height: 18px;
    display: inline-block;
}

.form_input_check label span {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.form_input_check label input[type="checkbox"] {
    visibility: hidden;
    display: none;
}

.form_input_check label input[type="checkbox"]+span::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 2px solid #000000;
    background: transparent;
}

.form_input_check label input[type="checkbox"]+span::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0px;
    width: 18px;
    height: 18px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background: url(assets/images/checkboxTick.svg) no-repeat center center;
    background-size: 15px;
}

.form_input_check label input[type="checkbox"]:not(:checked)+span::after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}


/* .form_input_check input[type="checkbox"]:checked + span::before {
      
    } */

.form_input_check label input[type="checkbox"]:checked+span:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


/* common table */
.cmntableWrap {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 30px;
}
.cmnTable_table {
    table-layout: fixed;
    border-collapse: collapse;
}
.cmnTable_table tr th {
    padding: 18px 53px !important;
    border: 0 !important;
    background-color: #F5F6FA !important;
    text-align: center !important;
}

.cmnTable_table tr th:last-child {
    /* text-align: right !important; */
}

.cmnTable_table tr td {
    padding: 15px 53px !important;
    text-align: center !important;
    border-bottom: 1px solid #F5F6FA !important;
    box-shadow: none !important;
    white-space: nowrap;
}

.cmnTable_table tr:first-child td {
    padding-top: 30px !important;
}

.cmnTable_table tr:last-child td {
    padding-bottom: 30px !important;
}

.tableCartActions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.tableCartActions .qtyInput {
    width: 87px;
    height: 45px;
    border: 0;
    background: #F5F6FA;
    border-radius: 10px;
    padding: 5px 14px;
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    margin-right: 10px;
    outline: none;
}

.tableCartActions .cmnBtnSm {
    padding: 8px 12px;
    font-size: 18px;
    /* margin-right: 15px; */
    white-space: nowrap;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.tableProductImg {
    display: flex;
    align-items: center;
}

.tableProductImg figure {
    margin-left: 30px;
    margin-bottom: 0;
}
.tableProductImg figure img{
    width: 131px;
    min-width: 131px;
}
div.dt-container.dt-empty-footer .dt-scroll-body {
    border-bottom: 1px solid #F5F6FA !important;
}
div.dt-container .dt-paging .dt-paging-button{
    border: 1px solid #EBECF0 !important;
    margin: 0 !important;
}
div.dt-container .dt-paging .dt-paging-button.current{
    background: #FAD5E3 !important;
    border-left-color: #FAD5E3 !important;
    border-right-color: #FAD5E3 !important;
}
div.dt-container .dt-paging .dt-paging-button.next{
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}
div.dt-container .dt-paging .dt-paging-button.previous{
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}
div.dt-container div.dt-layout-row{
margin: 0;
}

.tableHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -15px 30px;
}
.tableHeader > * {
    padding: 0 15px;
}
.tableHeader_left{
    display: flex;
    align-items: center;
    margin: 0 -2.5px;
}
.tableHeader_left > * {
    padding: 0 2.5px;
}
.tableActionDropdown .tableActionDropdownBtn{
    background-color: #F5F6FA;
    border: 0;
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    padding: 17px 26px;
    border-radius: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.tableActionDropdown .tableActionDropdownBtn:hover{
    background-color: #ededee;
}
.tableActionDropdown .tableActionDropdownBtn::after{
    margin-left: 36px;
}
.tableSubmitBtn_wrap .tableSubmitBtn{
    background-color: #F5F6FA;
    border: 0;
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    border-radius: 10px;
    padding: 17px 26px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.tableSubmitBtn_wrap .tableSubmitBtn:hover{
    background-color: #ededee;
}
.tableSearch{
    display: flex;
    align-items: center;
}
.tableSearch label{
    font-size: 16px;
    font-weight: 600;
    padding-right: 15px;
}
.tableSearch input{
    width: 232px;
    height: 50px;
    background: #F5F6FA;
}
.dt-paging{
    padding-top: 10px;
}


/* scrollbar design */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px #fff;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #E42C73;
  border-radius: 10px;
  transition: 0.3s all ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #E42C73;
}
.tableSelectAll{
    margin-bottom: 20px;
}
.tableSelectAll .form_input_check label{
    padding-left: 30px;
}
.tableSelectAll .form_input_check label input[type="checkbox"]+span::before{
    top: 2px;
}
.tableSelectAll .form_input_check label input[type="checkbox"]+span::after{
    top: 2px;
}
/* ========== responsive css =========== */



@media(min-width:1025px) {

   
}



@media(max-width:1599px) {
    .sidebar{
        width: 300px;
        flex-basis: 300px;
    }
    .rightMain {
       
        width: calc(100% - 300px);
        flex-basis: calc(100% - 300px);
        margin-left: 300px;
        
    }
    .dashboardMenu ul li a i{
        width: 45px;
        height: 45px;
        margin-right: 10px;
    }
    .dashboardMenu ul li a i svg{
        width: 25px;
        height: 25px;
    }
    .dashboardMenu ul li a{
        padding: 0 20px 0 25px;
    }
    .dashboardMenu ul li a.active::before{
        width: 15px;
        height: 20px;
    }
}
@media(max-width:1199px) {}

@media(max-width:1024px) {

   


}


@media (max-width: 991px) {

   





}

@media (max-width: 767px) {


}

@media (max-width: 575px) {}

@media (max-width: 479px) {}